<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="  {% static 'app/css/style.css'%}">
  <title>GRUPO CERO</title>
</head>
<body>
  <main>
    <div id="divIMG">
      <img src="  {% static 'app/IMG/GRUPO CERO.PNG' %}" alt="logo_empresa">
    </div>

    <div id="login">
      <form action="http://127.0.0.1:8000/inicio/">
        <label id="nomUser">NOMBRE DE USUARIO</label>
        <input type="text">
        <label id="contraUser">CONTRASEÑA</label>
        <input type="text">
        <a href="">¿OLVIDASTE TU CONTRASEÑA?</a>
        <button>INGRESAR</button>
      </form>
    </div> 
  </main>

  <footer id="hola">
    <div >
     <div id="div1">
        <h6><a href="http://127.0.0.1:8000/crearCuenta/">INGRESAR COMO ADMIN</a></h6>
      </div>
     <div id="div2">
        <h6><a href="http://127.0.0.1:8000/registro1/">CREAR CUENTA</a></h6>
      </div>
      <div id="div3">
       <h6><a href="http://127.0.0.1:8000/misTrabajos/">INGRESAR COMO USUARIO</a></h6>
      </div>
    </div>
  </footer>
</body>
</html>